body {
    background-color: #ecddfb;
    font-family: 'Open Sans', sans-serif;
}

.weather-app {
    background-color: #e4cafc;
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(65, 50, 100, 0.06);
}

header {
    padding: 20px auto;
}

.search-form-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #7909d6;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(121, 9, 214, 0.3);
    font-size: 18px;
}

.search-form-button {
    box-shadow: 3px 3px rgb(121, 9, 214, 0.3);
    border: 2px solid #7909d6;
    border-radius: 10px;
    width: 18%;
    padding: 10px 44px;
    margin-left: 5px;
    transition: all 250ms ease-in-out;
    font-size: 18px;
}

.search-form-button:hover {
    color: #ffffff;
    background: #7909d6;
    cursor: pointer;
}

main {
    padding: 40px 0px;
}

.weather-app-city {
    margin: 20px 0 10px;
    font-size: 38px;
    font-weight: 700;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.weather-app-details {
    margin-top: 12px;
}

.weather-app-description {
    text-transform: capitalize;
}

.weather-app-info {
    margin-top: 12px;
}

.weather-temperature-container {
    display: flex;
}

.weather-app-icon {
    width: 100%;
    margin-top: 3px;
}

.weather-app-temperature {
    font-size: 70px;
    font-weight: 700;
}

.weather-app-celsius-unit {
    font-size: 30px;
    margin-top: 12px;
    color: #7909d6;
}

.weather-app-forecast {
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 15px 30px;
    width: 30px;
    margin-top: 60px;

}

.forecast-icon {
    font-size: 30px;
}

.forecast-temperatures {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    font-size: 14px;
}

.forecast-temperature-min {
    color: rgba(0, 0, 0, 0.7);
}

footer {
    border-bottom: 1px solid #7909d6;
    padding: 60px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}

a {
    text-decoration: none;
    color: #7909d6;
}